body {
    background-color: lightgray;
    justify-content: center;
}

.index-bg
{
   background-image: url(/assets/an-eerie-desktop-wallpaper-featuring-a-foggy-forest-with-an-abandoned-cabin-in-t-exjvfrdp.jpeg); 
   background-size: cover;
}

.centerText {
    text-align: center;
}

.flex_Containers {
    display: flex;
    justify-content: center;
}

.flex_items {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: left;
}

.choicesButtons {
    margin-left: 15px;
}

.linkHider {
    cursor: default;
    color: black;
    text-decoration:none;
}

.highlight {
    color: royalblue;
}
